.container{

    width: 70%;
    margin: 2rem auto;
}

.form-item{
    margin: 18px 1px;
}

label{
    display: block;
    padding-bottom: .3rem;
    font-size: 1.3rem;
    
}

input,textarea{
    width: 100%;
    padding: 6px;
    font-size: 1.1rem;
    border:2px solid gray;
    outline: none;
}

button{
    font-size: 1.5rem;
    padding: 9px 32px;
    outline: none;
    border: 2px solid gray;
    border-radius: 7px;
    background: black;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}

button:hover{
    color: rgb(39, 228, 196);
}